@{
    ViewData["Title"] = "RaceGameBot";
}

<div class="text-center">
	<h2 class="h2">Добро пожаловать на страницу бота RaceGameBot</h2>
</div>

<div class="text-center description">
	Интерактивная игра, в которой вы можете почувствовать себя настоящим гонщиком.  
	Проходите тест драйв, качайте характеристики и покупайте новые машины. Скоро вы  
	сможете устраивать заезды друг с другом. Список команд в описании стрима.
</div>

